/*general*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
}

.container {
  margin: auto;
}

a {
  text-decoration: none;
  color: rgb(84, 171, 221);
}

/*NAV*/
.navbar {
  background-color: #333;
  overflow: auto;
}

.navbar ul {
  list-style: none;
  float: right;
}

.navbar li {
  float: left;
}

.navbar a {
  padding: 20px;
  display: block;
  color: #fff;
}

/*NAV END*/

#boton {
  text-align: center;
  border: 1px solid rgb(0, 105, 35);
  padding: 15px 15px;
  margin-top: 15px;
  color: rgb(0, 105, 35);
  border-radius: 20%;
}

.navbar h1 {
  color: white;
  float: left;
  padding: 20px;
  display: block;
  text-align: center;
}

.navbar img {
  width: 40px;
  height: 40px;
}

#fondo {
  display: block;
  width: 100%;
  height: 400px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#persona {
  border: 1px solid rgb(167, 167, 167);
  border-radius: 50%;
  margin-top: -125px;
  margin-left: 30px;
}

/*secciones*/

.section {
  width: 95%;
  border: 1px solid rgb(223, 223, 223);
  margin: 20px auto;
  border-radius: 15px;
  overflow: auto;
}

.section h1,
h2,
h3,
h4 {
  margin-bottom: 10px;
  margin-left: 20px;
}

.section p {
  margin-bottom: 10px;
  margin-left: 20px;
}

.botones {
  margin-left: 20px;
  padding-bottom: 20px;
}

#imagenes-derecha img {
  height: 100px;
  width: auto;
  float: right;
  display: block;
  margin-right: 30px;
}

.izquierda {
  float: left;
}

.clr {
  clear: both;
}

#acerca-de, .experiencia, .educacion {
  float: left;
  padding: 20px 0px;
}

.editar img {
  height: 25px;
  width: auto;
  float: right;
  margin-right: 20px;
  margin-top: 10px;
}
/*
.texto {
  padding: 20px 0px;
}
